a,
a:visited {
	color: lightsteelblue;
	cursor: pointer;
}

a:hover {
	color: #ff0;
}

input {
	height: 2em;
	margin: 4em 0;
}

.main {
	margin: 0 auto;
	max-width: 50rem;
}

.demo {
	margin-top: 1rem !important;

	& p {
		font-size: smaller;
	}
}
